<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SUCHISHREE BADJENA</h1>
    <h2>SUCHISHREE BADJENA</h2>
    <h3>SUCHISHREE BADJENA</h3>
    <h4>SUCHISHREE BADJENA</h4>
    <h5>SUCHISHREE BADJENA</h5>
    <h6>SUCHISHREE BADJENA</h6>
    {{idno}} <br><br>
    {{name}} <br><br>
    {{salary}}<br><br>
</body>
</html>